<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="app">
        <!-- Header -->
        <section class="header-container" id="header">
            <header class="header">
                <div class="header-post-it post-it">
                    <p class="header-title">Rock Paper Scissors</p>
                </div>
                <!-- Navigation -->
                <div class="navigation-container">
                    <nav class="dropdown">
                        <span class="show-games">All Games</span>
                        <div class="dropdown-menu">
                            <ul>
                                {% for game in games %}
                                <li class="post-it-list"><a href="#{{game}}" >{{game}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </section>
        
        <!-- Home container -->
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>